<section class="about">
  <div class="container">
    <h2 class="about__title">Про нас</h2>
    <div class="about__wrap">
      <img
        class="about__img"
        src="./images/about/placeholder.png"
        alt="Віталік Саша і Богдан"
        width="500"
      />
      <div class="about__description">
        <h3 class="about__subtitle">Хто ми?</h3>
        <p class="about__desc">
          Ми - команда висококваліфікованих фахівців, яка зосереджена на
          проектуванні промислових і цивільних об'єктів. Наша команда
          складається з інженерів-конструкторів, які об'єднані загальною метою -
          створювати інноваційні та ефективні рішення для будівельних проектів.
        </p>
        <ul class="about__list">
          <li class="about__item">
            <h3 class="about__subtitle">Наш досвід та експертиза:</h3>
            <p class="about__text">
              Всі наші фахівці мають вищу будівельну освіту та більше 10 років
              досвіду у галузі проектування. Ми розробляємо проекти для
              промислових та цивільних об'єктів, використовуючи сучасні
              програмні комплекси, такі як SCAD та LIRA, але можемо виконати
              розрахунки будівельних конструкцій вручну, якщо того бажає
              Замовник 🙂
            </p>
          </li>
          <li class="about__item">
            <h3 class="about__subtitle">Що ми пропонуємо:</h3>
            <p class="about__text">
              Наша команда володіє широким спектром навичок у розробці проектної
              документації. Ми робимо розрахунки для бетонних, металевих,
              дерев'яних та інших конструкцій, забезпечуючи повну графічну
              частину проекту. Наші послуги орієнтовані на результат, і ми
              пишаємося нашою чесністю та відданістю роботі.
            </p>
          </li>
          <li class="about__item">
            <h3 class="about__subtitle">Наш підхід:</h3>
            <p class="about__text">
              Ми віримо в те, що якість інженерного проектування визначає успіх
              будь-якого будівельного проекту. Ми працюємо на результат, завжди
              дотримуючись високих стандартів якості та дбаючи про нашу
              репутацію. Обирайте нас для вашого наступного проекту, і ми
              гарантуємо вам високий рівень професіоналізму, індивідуальний
              підхід та відмінні результати.
            </p>
          </li>
        </ul>
        <h3 class="about__subtitle">
          З нами будівництво - це інновації та надійність!
        </h3>
      </div>
    </div>
  </div>
</section>
