<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <a class="logo header__logo" href="./index.html" lang="en"
        >SVD<span class="logo__red">project</span></a
      >
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="./index.html"
            >ГОЛОВНА</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./index.html">ПРО НАС</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">ПОСЛУГИ</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">ГАЛЕРЕЯ</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">КОНТАКТИ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
