<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <a class="logo header__logo" href="./index.html" lang="en">
        <svg class="logo__icon" width="50" height="50">
          <use href="./images/icons.svg#logo"></use>
        </svg>
        <span class="logo__red">project</span>
      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="./index.html"
            >ГОЛОВНА</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./index.html">ПРО НАС</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">ПОСЛУГИ</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">ПРОЕКТИ</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">КОМАНДА</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">ЦІНИ</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">КОНТАКТИ</a>
        </li>
      </ul>
    </nav>
    <ul class="header__list-language">
      <li class="header__item-language">
        <a class="header__link-language header__link-language--current" href=""
          >ua</a
        >
      </li>
      <li class="header__item-language">
        <a class="header__link-language" href="">en</a>
      </li>
    </ul>
    <button class="header__toggler-theme" type="button">
      <svg width="15" height="15">
        <use href="./images/icons.svg#sun"></use>
      </svg>
      <svg width="15" height="15">
        <use href="./images/icons.svg#moon"></use>
      </svg>
    </button>
  </div>
</header>
