<section class="services">
  <div class="container">
    <h2 class="services__title">Послуги</h2>
    <p class="services__text">
      Наша команда надає широкий спектр послуг з проектування промислових і
      цивільних об'єктів. Ми спеціалізуємося на розробці проектної документації,
      виконанні розрахунків для різних видів будівельних конструкцій та
      забезпеченні повноцінної графічної частини проекту.
    </p>
    <h3 class="services__subtitle">Наші послуги включають:</h3>
    <ul class="services__list">
      <li class="services__item">
        Розробка проектної документації для промислових та цивільних об'єктів.
      </li>
      <li class="services__item">
        Розрахунки будівельних конструкцій за допомогою програмних комплексів
        (SCAD, LIRA).
      </li>
      <li class="services__item">
        Проектування бетонних, металевих, дерев'яних та інших видів конструкцій.
      </li>
      <li class="services__item">
        Консультації з питань інженерного проектування та будівництва.
      </li>
    </ul>
    <p class="services__text">
      Ми гарантуємо високу якість послуг та індивідуальний підхід до кожного
      клієнта. Оберіть нас для вашого проекту, і ми забезпечимо успішне втілення
      ваших будівельних ідей.
    </p>
    <h3 class="services__blockquote">
      Звертайтеся до нас, і разом ми зробимо ваш проект успішним!
    </h3>
  </div>
</section>
