<section class="team">
  <div class="container">
    <h2 class="team__title">Наша команда</h2>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img-Oleksandr"
            src="./images/team/Oleksandr-Sibikovskyi.jpg"
            alt="зображення чоловіка"
          />
        </div>
        <div class="team__wrap">
          <h3 class="team__name">Олександр Сібіковський</h3>
          <p class="team__position">
            Провідний інженер-проектувальник, кандидат технічних наук
          </p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img-Vitalii"
            src="./images/team/Vitalii-Vitalis.jpg"
            alt="зображення чоловіка"
          />
        </div>
        <div class="team__wrap">
          <h3 class="team__name">Віталій Віталіс</h3>
          <p class="team__position">Провідний інженер-конструктор</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img-Bohdan"
            src="./images/team/Bohdan-Doroshenko.jpg"
            alt="зображення чоловіка"
          />
        </div>
        <div class="team__wrap">
          <h3 class="team__name">Богдан Дорошенко</h3>
          <p class="team__position">Інженер-конструктор</p>
        </div>
      </li>
    </ul>
  </div>
</section>
